/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  color: #000;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 5px;
}

.App {
  width: 100vw;
  min-height: 100vh;
  background: #fff;
  transition: all 0.5s ease;
  display: flex;
}

.app_section {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100vw;
}

/* Loader Styles */
@import url('./styles/loader.css');

/* MenuBar Styles */
@import url('./styles/menubar.css');

/* Feed Styles */
@import url('./styles/feed.css');
@import url('./styles/topbar.css');
@import url("./styles/card.css");

/* New Project Styles */
@import url('./styles/newproject.css');

/* Delete Model Styles */
@import url('./styles/deletemodel.css');

/* Show Project Styles */
@import url('./styles/showproject.css');