.deletemodel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.deletemodel_wrapper {
  width: 40rem;
  height: auto;
  background: #fff;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0 0 0;
}

.deletemodel_wrapper-top {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deletemodel_wrapper-top h3 {
  color: #000;
  font-family: Work Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 191.8%; /* 2.878rem */
  letter-spacing: 0.05rem;
  margin: 0 0 1rem 0;
}

.deletemodel_wrapper-bottom {
  display: flex;
  flex-direction: column;
}

.deletemodel_wrapper-bottom-btn {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-top: 1px solid #c4c4c4;
  cursor: pointer;
  background: transparent;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
}

.delete-btn {
  color: #ff0e41;
}

@media screen and (max-width: 640px) {
  .deletemodel_wrapper {
    width: 90%;
    height: auto;
  }

  .deletemodel_wrapper-top h3 {
    font-size: 1.25rem;
  }

  .deletemodel_wrapper-top p {
    font-size: 0.875rem;
  }

  .deletemodel_wrapper-bottom-btn {
    font-size: 0.875rem;
  }
}
